/*Custom Stylesheet*/


.navbar {
	float:none;
}

.wrapper1 {
	background-color: #f7f9f8;
	background: url(../images/bg2.jpg) no-repeat center top;
	margin-top: -50px;
	padding-top:80px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 350px;
	
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
   
	
}


.splash {
	background: url(../images/splash.png) no-repeat center top;
	height:400px;
	margin-top:5px;
	width:100%;
	margin-bottom:0;
}
.centeredbold {
	text-align: center;
	font-size:48px;
	font-weight:bold;
}

.center {
	text-align:center;
}
.hidden {
	display:none;
}
.checks {
	list-style-image: url(../images/check.png);
}

.footerwrapper {
	background-color: black;
	color:orange;
}

.fa {
	color:orange;
}
.footerwrapper li {
	display:block;

}